/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Lobster13Regular';
    src: url('lobster_1.3-webfont.eot');
    src: url('lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobster_1.3-webfont.woff') format('woff'),
         url('lobster_1.3-webfont.ttf') format('truetype'),
         url('lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LobsterTwoBold';
    src: url('lobstertwo-bold-webfont.eot');
    src: url('lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobstertwo-bold-webfont.woff') format('woff'),
         url('lobstertwo-bold-webfont.ttf') format('truetype'),
         url('lobstertwo-bold-webfont.svg#LobsterTwoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Normalizing my stuff */


body{
	background: url(../images/header.png) repeat-x;
	font: 1.2em/96.2% Cabin,Helvetica,arial,sans-serif;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
}

/* Header styling */

#header{
	//overflow: hidden;
}

#signup h3.errors{
	color: #dc3522;
	font-size: 14px;
	padding: 2px;
	margin: 0;
}

#header h1{
	float: left;
	width: 170px;
	height: 42px;
	margin-top: 20px;
}

#header h1 a{
	background: url(../images/logo.png) no-repeat;
	display: block;
	width: 170px;
	height: 42px;
	text-indent: -999999px;
}

#header ul{
	float: right;
	margin-top: 25px;
	min-height: 80px;
	position: relative;
}

#header ul li{
	font: 1.2em/96.2% 'Lobster13Regular',Helvetica,arial,sans-serif;
	font-size: 18px;
	float: left;
	color: #fff;
	padding: 0 10px;
}

#header ul li a{
	text-decoration: none;
	color: #fff;
}

#header #signupbtn{
	background: url(../images/btn_signup.png) no-repeat;
	width: 68px;
	height: 33px;
	padding-top: 7px;
	padding-left: 5px;

}

#signup{
	overflow: hidden;
	background: url(../images/960blur.png) no-repeat;
	background-position: 0px 214px;
	clear:right;
	display:none;

}


#signup h2{
	font-family: 'Lobster13Regular';
	font-size: 32px;
	color: #1da0e3;
	padding: 10px 10px 15px;
}

#signup h3{
	padding: 0 10px 10px;
}

#signup p{
	padding: 0 10px 10px;
	width: 450px;
}

#signupForm{
	float: right;
	width: 300px;
	margin-right: 10px;
}

#signupForm ul{
	overflow: hidden;
}

#signupForm li{
	//clear: both;
	overflow: hidden;
	padding: 5px 0 5px 0;
}

#signupForm ul li label{
	font-size: 14px;
	padding: 0;
	margin: 0;
	width: 70px;
	text-align: right;
	//display: block;
	float: left;
	line-height: 25px;
	margin-right: 10px;
}

#signupForm ul li input{
	width: 200px;
	height: 24px;
	border: 1px solid #5b5d5d;
	float:left;
}

#signupForm ul li input[type="submit"]{
	width: 97px;
	height: 28px;
	background: url(../images/btn_signupnow.png) no-repeat;
	border: none;
	font-family: 'Lobster13Regular';
	font-size: 15px;
	color: #fff;
	float: right;
	margin-right: 15px;
	text-shadow: 1px 1px 0px #0f7cb3;
	cursor: pointer;
}

#accountEdit{
	margin: 0 auto;
	width: 300px;
}

#accountEdit ul{
	overflow: hidden;
}

#accountEdit li{
	//clear: both;
	overflow: hidden;
	padding: 5px 0 5px 0;
}

#accountEdit ul li label{
	font-size: 14px;
	padding: 0;
	margin: 0;
	width: 70px;
	text-align: right;
	//display: block;
	float: left;
	line-height: 25px;
	margin-right: 10px;
}

#accountEdit ul li input{
	width: 200px;
	height: 24px;
	border: 1px solid #5b5d5d;
	float:left;
}

#accountEdit ul li input[type="submit"]{
	width: 97px;
	height: 28px;
	background: url(../images/btn_signupnow.png) no-repeat;
	border: none;
	font-family: 'Lobster13Regular';
	font-size: 15px;
	color: #fff;
	float: right;
	margin-right: 15px;
	text-shadow: 1px 1px 0px #0f7cb3;
	cursor: pointer;
}


#splash{
	height: 225px;
	width: 940px;
	clear: both;
	background-color: #5a5a5a;
	border: 5px solid #fff;
	
  -webkit-box-shadow: 0px 0px 4px #000; 
     -moz-box-shadow: 0px 0px 4px #000; 
          box-shadow: 0px 0px 4px #000;
    
    margin-bottom: 15px;  
}





/* Events page css styling */


.event{
	width: 500px;
	overflow: hidden;
	
/*   background-color: #f5f5f5; */
/*
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e7e7e7)); 
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e7e7e7); 
  background-image:    -moz-linear-gradient(top, #f5f5f5, #e7e7e7); 
  background-image:     -ms-linear-gradient(top, #f5f5f5, #e7e7e7); 
  background-image:      -o-linear-gradient(top, #f5f5f5, #e7e7e7); 
  background-image:         linear-gradient(top, #f5f5f5, #e7e7e7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#e7e7e7');
  
  
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px; 
          border-radius: 3px; 
          
          
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
*/

	//border-top: 1px solid #333;
	border-bottom: 1px solid #999;
  
  padding: 10px; 

}

#events{
	width: 520px;
	margin: 0 auto;
}

.event .eventimg{
	float: left;
}

.event h3{
	font-size: 16px;
}

.event .right p{
	font-size: 12px;
	line-height: 1.2em;
	max-height: 31px;
	overflow: hidden;
}

.event p.details{
	float: left;
}

.event .left{
	float: left;
}

.event .right{
	float: left;
	width: 350px;
	padding: 0 10px;
}

.event #invite input[type="submit"]{
	width: 80px;
	height: 35px;
	background: #fbdf87;
	border: 1px solid #ffc718;
	
	font-size: 14px;
	font-family: 'Cabin';
	font-weight: bold;
	color: #fff;
	
	text-shadow: 1px 1px 0px #ffc718; 
	  
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px; 
          border-radius: 3px; 
          
          
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

/* Create events form styling  */
#eventcreate{
	height: 300px;
	background: url(../images/960blur.png) no-repeat;
	background-position: 0px 287px;
}

#createevent{
	width: 500px;
	padding: 0 10px 10px 10px;
	margin: 0 auto;
}

#createevent ul li{
	width: 300px;
	margin: 5px 0;
}

#eventcreate h2{
	font-family: 'Lobster13Regular';
	font-size: 32px;
	color: #1da0e3;
	padding: 10px 10px 15px;
}


#createevent ul li label{
	display: block;
	font-size: 14px;
}

#createevent ul li input{
	width: 430px;
	height: 20px;
	border: 1px solid #5b5d5d;
}

#createevent ul .floatleft{
	width: 175px;
	float: left;
}

#createevent ul .floatleft input{
	width: 155px;

}

#createevent #formdesc{
	clear: both;
}

#createevent #selects{
	width: 100px;
}

#createevent ul li input[type="submit"]{
	width: 97px;
	height: 28px;
	background: url(../images/btn_signupnow.png) no-repeat;
	border: none;
	font-family: 'Lobster13Regular';
	font-size: 15px;
	color: #fff;
	float: right;
	margin-right: 15px;
	text-shadow: 1px 1px 0px #0f7cb3;
	cursor: pointer;
}


#filterevents{
	clear: both;
}

/*
#loginForm{
	clear: both;
}
*/



#loginForm{
	position: absolute;
	top: 53px;
	right:0px;
	width: 450px;
	background-color: #2b2b2b;
	height: 70px;
	padding-bottom:5px;
	display:none;
	
	
  	-webkit-border-radius: 3px; 
     -moz-border-radius: 3px; 
          border-radius: 3px; 
          
          
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  z-index: 1;
  	
}

#loginForm ul{
	overflow: hidden;
	margin: 0;
	padding-top: 5px;
}

#loginForm ul li{
	float: left;
}

#loginForm ul li label{
	display:block;
	font-size:13px;
	color: #fff;
}

#loginForm ul li input[type="text"],#loginForm ul li input[type="password"]{
	border: 1px solid #8f8f8f;
	height: 18px;

}

#loginForm ul li input[type="submit"]{
	background: url(../images/btn_login.png) no-repeat;
	width: 76px;
	height: 25px;
	border: none;
	
	font-family: 'Lobster13Regular';
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;
}

#loginForm .loginerrors{
	font-family: 'Cabin';
	font-size: 12px;
	float: left;
	padding-left: 10px;
}

#eventcreate{
	clear: both;
}

#events{
	clear: both;
}


/* homepage ajaxed content */

#eventdriver{
	margin-top: 10px;
	float: left;
	width: 470px;
}

#eventdriver .event .detailed{
	float: left;
	padding: 3px 10px 0 0;
}

#eventdriver .event .descript{
	height: 31px;
	overflow: hidden;

}

#eventdriver .event{
	width: 450px;
	background-color: #333;
	background: url(../images/slice_ajaxbg.png) repeat-x;
	border: none;
}

#eventdriver .event img{
	margin-top: 10px;
	border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 1px #b6b6b6; 
     -moz-box-shadow: 0px 0px 1px #b6b6b6; 
          box-shadow: 0px 0px 1px #b6b6b6; 
}

#eventdriver .event h3{
	text-shadow: 1px 1px 0px #fff;

}

.eventdrivertitle{
	font-family: 'Lobster13Regular';
	font-size: 32px;
	color: #1da0e3;
	margin: 15px 10px 15px;
	text-shadow: 1px 1px 0px #dcf3ff;
}

#sellingpoints{
	float: left;
	width: 450px;
	margin: 0 20px;
}

#sellingpoints img{
	border: 5px solid #fff;
}

#sellingpoints .sellingimg{
	  -webkit-box-shadow: 0px 0px 2px #b6b6b6; 
     -moz-box-shadow: 0px 0px 2px #b6b6b6; 
          box-shadow: 0px 0px 2px #b6b6b6; 
          width: 371px;
          margin: 0 auto;
}

#sellingpoints p{
	text-align: center;
	font-size: 15px;
	width: 350px;
	margin: 0 auto;
	margin-top: 10px;
}



/* comment box */


.eventimg{
	margin-top: 15px;
}

#comment ul li label{
	font-family: 'Lobster13Regular';
	font-size: 32px;
	color: #1da0e3;
	margin: 15px 10px 15px;
	text-shadow: 1px 1px 0px #fff;
	display: block;	
}


#comment ul li input[type="submit"]{
	width: 97px;
	height: 28px;
	background: url(../images/btn_signupnow.png) no-repeat;
	border: none;
	font-family: 'Lobster13Regular';
	font-size: 15px;
	color: #fff;
	float: right;
	text-shadow: 1px 1px 0px #0f7cb3;
	cursor: pointer; 
	margin-top: 10px;
}

#comments{
	clear: both;
	width: 520px;
	margin: 0 auto;
}

#comments h2{
	font-size: 24px;
	padding: 20px 0 10px 10px;
}

#comments p{
	font-size: 12px;
	padding: 10px 0 10px 10px;
	border-bottom: 1px dotted #000;
}

#eventdetails{
	border: none;
}

#eventdetails #invite{ 
	margin-top: 10px;
}

#eventdetails .details{
	padding: 5px 5px 0 0;
}








